@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .row {
    @apply flex flex-row;
  }
  .col {
    @apply flex flex-col;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .family-teko {
    font-family: "Teko", sans-serif;
  }
  .family-athiti {
    font-family: "Athiti", sans-serif;
  }
}
